@model RescueNeeds.Service.Person

@{
    ViewBag.Title = "Details";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Details
    </div>
    <div class="card-body">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cell)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cell)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>