<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Help out those affected by the Kerala floods by donating or volunteering">
    <meta name="author" content="Community">
    <meta property="og:description" content="Help out those affected by the Kerala floods by donating or volunteering">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/keralarescueneeds.PNG">

    <title>keralarescueneeds.in @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="/"><b>kerala</b>rescueneeds</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <div id="wrapper" >
        <ul class="sidebar navbar-nav @(Session["Logged"] != "true"? "hidethisblock" : "")">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Relief Camps</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Admin</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    @Html.ActionLink("Camp requirements", "", "CampRequirements", null, new { @class = "dropdown-item" })
                    @if (Session["SuperAdmin"] == "true")
                    {
                        @Html.ActionLink("Camps", "", "Camps", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Camp in charge", "", "CampInCharges", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Persons", "", "People", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Rescue Places", "", "Places", null, new { @class = "dropdown-item" })
                        @*@Html.ActionLink("Relief Items", "", "Items", null, new { @class = "dropdown-item" })*@
                    }

                </div>
            </li>
           

        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <!-- /.content-wrapper -->
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer @(Session["Logged"] != "true"? "width100" : "")">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright keralarescueneeds.in©  Website 2018</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
