@model IEnumerable<RescueNeeds.Service.CampRequirement>

@{
    ViewBag.Title = "Index";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Campus requirements @Html.ActionLink("Create New", "Create")
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Camp.Name)
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Need)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Recieved)
                        </th>
                       
                        <th></th>
                    </tr>
                <thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Camp.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Need)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Recieved)
                            </td>
                          
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CampRequirementID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CampRequirementID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CampRequirementID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>