@model RescueNeeds.Models.CampDetailsViewModel
@{

    var currentCamp = 0;
    var firstItem = Model.CampsDetails.FirstOrDefault();
    if (firstItem != null)
    {
        ViewBag.Title = firstItem.Camp.Name + " Shelter Details";
        currentCamp = firstItem.CampsID.Value;
    }
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Available in camps <a href="/home/details/@currentCamp"></a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Need
                        </th>
                        <th>
                            Available
                        </th>
                    </tr>
                <thead>
                <tbody>
                    @foreach (var item in Model.CampsDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Camp.Name)
                                <br />
                                @Html.DisplayFor(modelItem => item.Camp.Address1)
                                <br />
                                @item.Camp.Place.Name
                                <br />
                                @if (Model.CampInCharge != null)
                                {
                                    <span>
                                        Contact Person: @Model.CampInCharge.Person.FirstName  @Model.CampInCharge.Person.LastName
                                        <br/>
                                        Contact: @Model.CampInCharge.Person.Cell
                                        <br />
                                        Email : @Model.CampInCharge.Person.Email
                                    </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Need)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Recieved)
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
            <h4>Please comment below if you would like to contribute something to this relief camp</h4>
        </div>
        <div class="row"><div class="col-sm-12 "><h5>Please comment below if you would like to contribute something to this relief camp</h5></div></div>
        <div id="disqus_thread"></div>
        <script>

            var disqus_config = function () {
                this.page.url = 'http://keralarescueneeds.in/home/details/@currentCamp';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '@currentCamp'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function () {
                var d = document, s = d.createElement('script');
                s.src = '//keralarescueneeds-in.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
