@model RescueNeeds.Service.CampInCharge

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Details
    </div>


    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Camp.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Camp.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.FirstName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CampInChargeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
